@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Crimson Pro', serif;
}
.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 60px;
    backdrop-filter: blur(10px);
    z-index: 1000;
    background: rgba(256, 256, 256, 0.9);
    background-color: #f9f8f5cc;
}
.logo{
    margin-left: 300px;
    font-size: 18px;
    font-weight: 600;
    gap: 10px;
    color: #32241b;
}
.logo-icon{
    color: #d76742;
    font-size: 26px;
}
.navs{
    margin-right: 300px;
    display: flex;
    gap: 30px;
}
.navs a{
    text-decoration: none;
    color: #32241b;
    font-weight: 500;
    transition: 0.3s;
}
.navs a:hover{
    color: #d76742;
}
.home-section{
    height: 100vh;
    width: 100%;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(256, 256, 256, 0.4);
    backdrop-filter: blur(6px);
}
.home-content{
    position: relative;
    text-align: center;
    padding: 20px;
}
.home-content h1{
    font-size: 90px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #32241b;
    line-height: 1.1;
    margin-bottom: 24px;
}
.home-content p{
    font-size: 32px;
    margin-bottom: 32px;
    color: #7c4e2e;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
.home-btn{
    display: inline-flex;
    background-color: #d76742;
    color: #fff;
    padding: 20px 48px;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 48px;
    transition: 0.3s;
}
.home-btn:hover{
    background-color: transparent;
    color: #d76742;
    border: 4px solid #d76742;
    font-size: 24px;
    font-weight: 700;
    padding: 22px 52px;
}
.about-section{
    background-color: #fff;
    line-height: 1.6;
    font-family: 'inter', sans-serif;
    align-items: center;
}
.about-content{
    margin: 120px auto;
    align-items: center;
    gap: 64px;
    justify-content: space-between;
    max-height: 370px;
    display: flex;
    max-width: 1200px;

}
.story-description{
    flex: 1;
    max-width: 550px;
}
.story-description h2{
    font-family: 'Crimson Pro', serif;
    font-size: 44px;
    margin-bottom: 24px;
    color: #32241b;
    font-weight: 800;
}
.story-description p{
    font-size: 18px;
    color: #5b4636;
    margin-bottom: 24px;
}
.about-features{
    display: flex;
    gap: 24px;
    margin-top: 16px;
}
.feature{
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #d76742;
    gap: 8px;
    font-weight: 600;
}
.feature i{
    font-size: 20px;
}
.about-image{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.about-image img{
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    height: 500px;
    object-fit: cover;

}